.sobre-mi{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: $primary-background-color;
    .circular-avatar{
        float: left;
        background: url('../../images/perfil1.jpg');
        border: 2px solid floralwhite;
        width: 360px;
        height: 360px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin-right: 80px ;
    }
    
}
.text-box1{
    color: $primary-text-color;
    max-width: 450px;
    max-height: 500px;
    h2{
        font-size: 42px;
        max-width: 800px;
        text-align: left;
        color: rgb(98, 97, 97);
    }
    p{
        font-size: 20px;
        max-width: 800px;
        text-align: left;      
    }
}

